<section ng-controller="StoreController">
  <div class="container">
    <div class="row">
      <div class="col-md-12 callout">
        <h4 class="callout-title">Confirm Transaction</h4>
        <br>
      </div>

      <div class="col-md-12" style="margin-top: .5em">
        <button type="submit" ng-click="confirmCheckout()" class="btn btn-success pull-right">
            <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>&nbsp;Confirm Checkout
        </button>
      </div>
    </div>
  </div>
</section>