<section ng-controller="StoreController" ng-init="findCartItems()">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>View Carts</h1>
        <hr class="divider">
      </div>

      <div class="col-md-8" style="margin-top: .5em">
        <button type="submit" ng-click="newCart()" class="btn btn-primary">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;New Cart
        </button>

        <form action="/api/store/cart/checkout" style="display:inline-block !important;" method="GET">
          <button type="submit" class="btn btn-success">
              <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>&nbsp;Checkout
          </button>
        </form>

        <button type="submit" ng-click="confirmCheckout()" class="btn btn-success">
            <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>&nbsp;Confirm Checkout
        </button>
      </div>

      <div class="col-md-12" style="margin-top: 1em">
        <ul class="list-group">
          <li class="list-group-item">
            <div class="row">
              <div class="col-xs-1"></div>
              <div class="col-xs-3"><b>Item Name</b></div>
              <div class="col-xs-2"><b>Item Price</b></div>
              <div class="col-xs-2"><b>Quantity</b></div>
              <div class="col-xs-3"><b>Price (in Quantity)</b></div>
              <div class="col-xs-1"><b>Options</b></div>
            </div>
          </li>

          <li class="list-group-item" ng-repeat="item in cart.items">
            <div class="row cart-item-row">
              <div class="col-xs-1"><div class="cart-thumbnail" style="background-image:url('{{item.itemImageURL}}');"></div></div>
              <div class="col-xs-3"><span ng-bind="item.name"></span></div>
              <div class="col-xs-2"><span>$</span>&nbsp;<span ng-bind="item.price"></span></div>
              <div class="col-xs-2"><input type="number" name="quantity" class="form-control quantity-field" min="1" max="99" ng-model="item.quantity"/></div>
              <div class="col-xs-3"><span>$</span>&nbsp;<span ng-bind="item.totalPrice"></span></div>
              <div class="col-xs-1">
                <button id="add" type="button" class="btn advanced-search-btn btn-danger">
                  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
              </div>
            </div>
          </li>

          <li class="list-group-item">
            <div class="row">
              <div class="col-xs-3 col-xs-offset-5 text-right"><b>Total Amount:</b></div>
              <div class="col-xs-1"><span ng-bind="cart.totalAmount"</div>
            </div>
          </li>
        </ul>
      </div>

    </div>
  </div>
</section>
