<section ng-controller="StoreController" ng-init="findItems();">
  <div class="container">
  	<div class="row">
    	<div class="col-md-12">
        <h1><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Store</h1>
        <hr class="divider">

        <div class="pull-right mini-store-nav">
          <a href="#" ng-click=""><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>&nbsp;Cart Items (0)</a>
          &nbsp;
          <a href="store/newitem"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;Add New Item</a>
        </div>
      </div>

    <div class="col-md-3 item-preview">

    	<div class="item-image-preview" style='background-image: url({{preview.itemImageURL}});'></div>

    	<div class="pull-right" ng-show="authentication.user.roles[1] == 'admin'" style="margin-top: 12px">
        <button type="button" class="btn btn-default btn-xs" aria-label="Left Align" ng-click="editItem();">
          <i class="glyphicon glyphicon-edit" aria-hidden="true"></i>
        </button>
      </div>

    	<h3 ng-bind="preview.name"></h3>
    	<span class="item-price">P<span ng-bind="preview.price"></span></span>

    	<p>Description:</p><p>
    	 <span ng-bind="preview.description"></span>
    	</p>
		
		  <hr>

      <div class="input-group">
        <span class="input-group-addon" id="qty-addon">Qty.</span>
        <input type="number" class="form-control" min="1" min="99" ng-model="quantity" ng-init="quantity = 1" aria-describedby="qty-addon"/>
        <div class="input-group-btn">
          <button type="button" ng-click="addToCart()" class="btn btn-success">
            <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>&nbsp;Add to Cart
          </button>
        </div>
      </div>
    </div>

    <div class="col-md-9">
        <div class="row">
          <div class="col-xs-6">
            <input class="form-control" type="text" ng-model="search" placeholder="Enter substring or keyword of an item" ng-change="figureOutItemsToDisplay()" style="margin-top: 19px;" />
          </div>

          <div class="col-xs-6">
            <pagination id="shop-pagination" name="shop-pagination" ng-change="pageChanged()" items-per-page="8" total-items="totalShopItems" ng-model="currentPage" max-size="maxSize" boundary-links="true" direction-links="false" class="text-center pull-right"></pagination>
          </div>
        </div>

  	    <div class="row">
    		  <div class="col-xs-3 col-md-3" ng-repeat="item in items">
    		    <div class="item-pane-1" ng-click="displayItem(item);">
    		      <div class="item-thumbnail-1" style='background-image: url("{{item.itemImageURL}}");'></div>
    		      <div class="caption text-center">
    		      	<h5 ng-bind="item.name"></h5>
    		        <span class="item-price">P<span ng-bind="item.price | number: 2"></span></span>
    		      </div>
    		    </div>
    		  </div>
        </div>
  	</div>

  </div>
</section>