<section ng-controller="ProfileController" ng-init="findOne()">

  <div class="wrapper" style="background-color: black">
    <div class="header-block">
      <div class="header-name">
        <div style='background-image: url("{{profile.profileImageURL}}"); margin-top: 20px;' alt="{{profile.firstName}}" class="mini-profile-picture"></div>
        <h3>
          <span ng-bind="profile.firstName"></span>
          <span ng-bind="profile.lastName"></span>
          (&nbsp;<span ng-bind="profile.username"></span>&nbsp;)
        </h3>
        <p ng-bind="profile.aboutme"></p>
        <ul class="ssul phul">
          <li class="ph">
            <span class="phh">Posts</span>
            <p class="phc" ng-bind="profileInfo.postCount"></p>
          </li>
          <li class="ph">
            <span class="phh">Donation</span>
            <p class="phc">$&nbsp;<span ng-bind="profileInfo.donationCount"></span></p>
          </li>
          <li class="ph phl">
            <span class="phh">Purchase</span>
            <p class="phc">$&nbsp;<span ng-bind="profileInfo.purchaseCount"></span></p>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="aboutme-block" ng-class="{'col-md-12': profileInfo.badges.length !== 0, 'col-md-4': profileInfo.badges.length > 0}">
      <ul class="ssul vp">
            <li class="ssa form-group">
              <p class="va">&nbsp;
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;
                I am <span ng-bind="profile.salutation"></span>
                <span ng-bind="profile.firstName"></span>
                <span ng-bind="profile.lastName"></span>
              </p>
            </li>
            <li class="ssb form-group">
              <p class="va">&nbsp;
                <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>&nbsp;
                Born as <span ng-bind="profile.gender" style="text-transform: capitalize;"></span>
              </p>
            </li>
            <li class="ssb form-group">
              <p class="va">&nbsp;
                <span class="glyphicon glyphicon-gift" aria-hidden="true"></span>&nbsp;
                My birthday is on <span ng-bind="profile.birthDate | date: mm/dd/yyyy"></span>
              </p>
            </li>
            <li class="ssb form-group">
              <p class="va">&nbsp;
                <span class="glyphicon glyphicon-tree-deciduous" aria-hidden="true"></span>&nbsp;
                Joined last <span ng-bind="profile.created | date: mm/dd/yyyy"></span>
              </p>
            </li>
            <div class="ssb form-group">
              <p class="va">&nbsp;
                <span class="glyphicon glyphicon-tree-deciduous" aria-hidden="true"></span>&nbsp;
                Description: <span ng-bind="profile.aboutme"></span>
              </p>
            </div>
            <li class="ssz">
            </li>
      </ul>
    </div>

    <div class="col-md-8">

      <div class="col-sm-12 col-md-12" ng-show="profileInfo.badges.length !== 0">
        <div class="badge-pane"> 
          <div class="row">
            <p class="col-xs-3 badge-header badge-text">Badges</p>
          </div>

          <div class="row text-center">
            <div class="col-xs-4 text-center" ng-repeat="badge in profileInfo.badges">
              <div class="badge-thumbnail" style='background-image: url("{{badge.badgeImageURL}}");' tooltip="{{badge.description}}" tooltip-placement="top" tooltip-trigger="mouseenter" tooltip-enable="!inputModel">
              </div>
              <p class="badge-text" ng-bind="badge.name"></p>
            </div>
          </div>
        </div> 
      </div>
      
    </div>
  </div>
</section>
