<section ng-controller="ProfileController" ng-init="findOne()">

  <div class="wrapper" style="background-color: black">
    <div class="header-block">
      <div class="header-name">
        <div style='background-image: url("{{profile.profileImageURL}}"); margin-top: 20px;' alt="{{profile.firstName}}" class="mini-profile-picture"></div>
        <h3>
          <span ng-bind="profile.firstName"></span>
          <span ng-bind="profile.lastName"></span>
          (&nbsp;<span ng-bind="profile.username"></span>&nbsp;)
        </h3>
        <p ng-bind="profile.aboutme"></p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="col-md-4 aboutme-block">
      <ul class="ssul vp">
            <li class="ssa form-group">
              <p class="va">&nbsp;
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;
                I am <span ng-bind="profile.salutation"></span>
                <span ng-bind="profile.firstName"></span>
                <span ng-bind="profile.lastName"></span>
              </p>
            </li>
            <li class="ssb form-group">
              <p class="va">&nbsp;
                <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>&nbsp;
                Born as <span ng-bind="profile.gender" style="text-transform: capitalize;"></span>
              </p>
            </li>
            <li class="ssb form-group">
              <p class="va">&nbsp;
                <span class="glyphicon glyphicon-gift" aria-hidden="true"></span>&nbsp;
                My birthday is on <span ng-bind="profile.birthDate | date: mm/dd/yyyy"></span>
              </p>
            </li>
            <li class="ssb form-group">
              <p class="va">&nbsp;
                <span class="glyphicon glyphicon-tree-deciduous" aria-hidden="true"></span>&nbsp;
                Joined last <span ng-bind="profile.created | date: mm/dd/yyyy"></span>
              </p>
            </li>
            <div class="ssb form-group">
              <p class="va">&nbsp;
                <span class="glyphicon glyphicon-tree-deciduous" aria-hidden="true"></span>&nbsp;
                Description: <span ng-bind="profile.aboutme"></span>
              </p>
            </div>
            <li class="ssz">
            </li>
      </ul>
    </div>

    <div class="col-md-8">

      <div class="col-sm-12 col-md-12">
        <div class="badge-pane"> 
          <div class="row">
            <p class="col-xs-3 badge-header badge-text">Hall of Fame Badges</p>
          </div>

          <div class="row text-center">
            <div class="col-xs-4 text-center">
              <div class="badge-thumbnail" style='background-image: url("/modules/users/client/img/badges/explorer.png");'>
              </div>
              <p class="badge-text">???</p>
            </div>

            <div class="col-xs-4">
              <div class="badge-thumbnail" style='background-image: url("/modules/users/client/img/badges/backer.png");'>
              </div>
              <p class="badge-text">???</p>
            </div>

            <div class="col-xs-4">
              <div class="badge-thumbnail" style='background-image: url("/modules/users/client/img/badges/evangelist.png");'>
              </div>
              <p class="badge-text">???</p>
            </div>
          </div>
        </div> 
      </div>

      <div class="col-sm-6 col-md-6">
        <div class="badge-pane"> 
          <div class="row">
            <p class="col-xs-3 badge-header badge-text">Donation </p>
          </div>

          <div class="row text-center">
            <div class="col-xs-4 text-center">
              <div class="badge-thumbnail" style='background-image: url("/modules/users/client/img/badges/supporter.png");'>
              </div>
              <p class="badge-text">???</p>
            </div>

            <div class="col-xs-4">
              <div class="badge-thumbnail" style='background-image: url("/modules/users/client/img/badges/contributor.png");'>
              </div>
              <p class="badge-text">???</p>
            </div>

            <div class="col-xs-4">
              <div class="badge-thumbnail" style='background-image: url("/modules/users/client/img/badges/pillar.png");'>
              </div>
              <p class="badge-text">???</p>
            </div>
          </div>
        </div> 
      </div>

      <div class="col-sm-6 col-md-6">
        <div class="badge-pane"> 
          <div class="row">
            <p class="col-xs-3 badge-header badge-text">Store </p>
          </div>

          <div class="row text-center">
            <div class="col-xs-4 text-center">
              <div class="badge-thumbnail" style='background-image: url("/modules/users/client/img/badges/shopper.png");'>
              </div>
              <p class="badge-text">???</p>
            </div>

            <div class="col-xs-4">
              <div class="badge-thumbnail" style='background-image: url("/modules/users/client/img/badges/promoter.png");'>
              </div>
              <p class="badge-text">???</p>
            </div>

            <div class="col-xs-4">
              <div class="badge-thumbnail" style='background-image: url("/modules/users/client/img/badges/elite.png");'>
              </div>
              <p class="badge-text">???</p>
            </div>
          </div>
        </div> 
      </div>

      <div class="col-sm-6 col-md-6">
        <div class="badge-pane"> 
          <div class="row">
            <p class="col-xs-3 badge-header badge-text">Post </p>
          </div>

          <div class="row text-center">
            <div class="col-xs-4 text-center">
              <div class="badge-thumbnail" style='background-image: url("/modules/users/client/img/badges/participant.png");'>
              </div>
              <p class="badge-text">???</p>
            </div>

            <div class="col-xs-4">
              <div class="badge-thumbnail" style='background-image: url("/modules/users/client/img/badges/chatter.png");'>
              </div>
              <p class="badge-text">???</p>
            </div>

            <div class="col-xs-4">
              <div class="badge-thumbnail" style='background-image: url("/modules/users/client/img/badges/socialite.png");'>
              </div>
              <p class="badge-text">???</p>
            </div>
          </div>
        </div> 
      </div>

    </div>
  </div>
</section>
