<section ng-controller="MessagesController" ng-init="findOne()">
  <div class="row">
    <div class="container">
      <div class="alert alert-danger text-danger" ng-show="error">
        <b>Error: </b><p ng-bind="error"></p>
      </div>
    </div>
    <div class="messages-block container margin-top-10">
        <div class="col-xs-3 col-md-2">
          <a href="#">
            <p id="firstName" ng-bind="message.user.firstName"></p>
          </a>

          <div ui-sref="profile.view({userId: message.user._id})" style='background-image: url("{{message.user.profileImageURL}}");' alt="{{message.user.firstName}}" class="message-picture"> </div>

          Username:
          <a href="#">
            <span class="username" ng-bind="message.user.username"></span>
          </a>
          <br><br>
          <small> Date Joined: </small>
          <span id="date_joined"><small ng-bind="message.user.created | date:'mediumDate'"></small></span>

        </div>
        <div class="col-xs-9 col-md-10">

            <p class="inline" ng-bind="message.created | date:'medium'"></p>

            <div class="pull-right" ng-show="authentication.user._id == message.user._id || authentication.user.roles[1] == 'admin'">
              <button type="button" class="btn btn-default btn-xs" aria-label="Left Align" ui-sref="messages.edit({messageId: message._id})">
                <i class="glyphicon glyphicon-edit" aria-hidden="true"></i>
              </button>
              <a type="button" class="btn btn-default btn-xs" aria-label="Left Align" ng-click="remove();">
                <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
              </a>
            </div>

            <hr>
            <p ng-bind-html="message.content" class="post-content"></p>

            <div ng-show="message.attachedItems.length">
              <h5>Attached Items: </h5>
              <ul class="list-group" style="margin-bottom: 0">
                <li class="list-group-item" ng-repeat="item in message.attachedItems">
                  <img class="cart-thumbnail" src="{{item.item.itemImageURL}}" alt="{{item.item.name}}"/>
                  <a href="#"><span ng-bind="item.item.name" ui-sref="store.view({itemId: item.item._id})"></span></a>
                  ($<span ng-bind="item.item.price | number: 2"></span>)
                </li>
              </ul>
            </div>
                
            <hr ng-show="message.editedDate != null">
            <span ng-show="message.editedDate != null">Last Edited: </span><span ng-bind="message.editedDate | date:'medium'"></span>
        </div>
      </div>
  </div>
</section>
