<section ng-controller="EditProfileController">
  <ul class="ssul">
    <form name="userForm" ng-submit="updateUserProfile(userForm.$valid)" class="signin" novalidate autocomplete="off">
      <fieldset>
        <li>
          <div class="alert alert-success text-success" ng-show="success">
            <b>Profile changes have been saved.</b>
          </div>
          <div class="alert alert-danger text-danger" ng-show="error">
            <b>Error: </b><p ng-bind="error"></p>
          </div>
        </li>
        <li class="ssa form-group" show-errors>
          <label for="firstName">First Name</label>
          <input type="text" id="firstName" name="firstName" class="form-control" ng-model="user.firstName" placeholder="First Name" required>
          <div ng-messages="userForm.firstName.$error" role="alert">
            <p class="help-block error-text" ng-message="required">First name is required.</p>
          </div>
        </li>
        <li class="ssb form-group" show-errors>
          <label for="lastName">Last Name</label>
          <input type="text" id="lastName" name="lastName" class="form-control" ng-model="user.lastName" placeholder="Last Name" required>
          <div ng-messages="userForm.lastName.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Last name is required.</p>
          </div>
        </li>
        <li class="ssb form-group" show-errors>
          <label for="gender">Gender</label>
          <select id="gender" name="gender" class="gender btn form-control btn-default dropdown-toggle btn-block"
          ng-options="option.value as option.name for option in gender.names" ng-model="gender.name" required>
          </select>
          <div ng-messages="userForm.gender.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Gender is required.</p>
          </div>
        </li>
        <li class="ssb form-group" show-errors>
          <label for="salutation">Salutation</label>
          <select id="salutation" name="salutation" class="salutation btn form-control btn-default dropdown-toggle btn-block" ng-options="salutation for salutation in gender.salutations" ng-model="gender.salutation">
          </select>
          <div ng-messages="userForm.salutation.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Salutation is required.</p>
          </div>
        </li>
        <li class="ssb form-group" show-errors>
          <label for="birthDate">Birthdate</label>
          <input type="date" id="birthDate" name="birthDate" class="form-control" ng-model="user.birthDate" placeholder="MM/DD/YYYY" required>

          <div ng-messages="userForm.birthDate.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Birthdate is required.</p>
          </div>
        </li>
        <li class="ssb form-group" show-errors>
          <label for="aboutme">About Me</label>
          <textarea type="text" id="aboutme" name="aboutme" class="form-control" ng-model="user.aboutme" placeholder="About Me" required></textarea>
          <div ng-messages="userForm.aboutme.$error" role="alert">
            <p class="help-block error-text" ng-message="required">About Me is required.</p>
          </div>
        </li>
        <li class="ssc text-right form-group">
          <button type="submit" class="btn btn-primary">Save Profile</button>
        </li>
        <li class="ssz">
        </li>
      </fieldset>
    </form>
  </ul>
</section>
